button {
  background-color: black;
  padding: 1em;
}

button.is-loading {
  position: relative;
}

button.is-loading::after {
  position: absolute;
  /* top: 50%;
  left: 50%; */
  content: " ";
  display: block;
  width: 2em;
  height: 2em;
  margin-left: -1em;
  margin-top: -1em;
  border-radius: 50%;
  border-top: 2px solid white;
  animation: spin 0.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
